*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Space-Reg";
    src: url(./font/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: "Space-Bold";
    src: url(./font/SpaceMono-Bold.ttf);
}

@media only screen and (max-width:376px) {
    body{
        background-color: #C5E4E7;
        height: 933px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: center;
        /* align-items: flex-end; */
        overflow-x: hidden;
        
    }
    .logo{
        
        margin-bottom: 50px;
        align-self: center;

    }
    body > img{
        width: 86.66px;
        height: 53.14px;
        /* flex-grow: 0; */
    }
    .dashboard{
        margin-bottom: -83px;
        background-color: #fff;
        border-top-left-radius: 1.6rem;
        border-top-right-radius: 1.6rem;
        height: 789px;
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        /* align-self: flex-end; */
    }
    .first-row{
        display: flex;
        flex-direction: column;
    }
    .first-row > h4{
        margin-bottom: 8px;
        font-family: 'Space-Reg';
        font-size: 16px;    
        font-weight: 700;
        /* line-height: 24px; */
        letter-spacing: 0px;
        text-align: left;
        color: #5E7A7D;
    }

    .input-bx-1{
        width: 311px;
        height: 48px;
        background-color: #F3F9FA;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11rem;
    }
    .input-bx-1 > h2{
        /* margin-right: 50px; */

        font-family: 'Space-Bold';
        font-size: 24px;
        font-weight: 700;
        line-height: 35.55px;

        color: #00474B;
    }
    .input-bx-1 > p{
        font-family: 'Space-Reg';
        
        
        color: #9EBBBD;
    }
    .second-row{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .second-row > h4{
        font-family: 'Space-Reg';
        color: #00474B;
    }
    .tip-section{
        display: flex;
        justify-content: flex-start;
    }
    .dashboard-info{
        margin-top: 2rem;
        margin-bottom: 40px;
    }

    .dashboard-card{
        background-color:#00474B;
        margin-top: 430px;
        margin-bottom: 32px;
        height: 275px;
        width: 327px;
        border-radius: 1rem;
        /* align-self: flex-end; */

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }
    .card-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        height:116px;
        width: 295px;

    }
    .card-info  h4{
        font-family: 'Space-Reg';
        font-size: 1rem;
        font-weight: 700;
        /* line-height: 23.7px; */
        color: #fff;

        margin-right: 5px;
    }
    .card-info p{
        font-family: 'Space-Reg';
        font-weight: 700;
        /* line-height: 19.25px; */
        font-size: 13px;
        color: #7F9D9F;

    }
    .card-info h2{
        font-family: 'Space-Bold';
        font-size: 32px;
        font-weight: 700;
        line-height: 42.39px;
        letter-spacing: -0.67px;

        color:#26C2AE;
    }
    
    .card-info-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        gap: 6rem;  
    }
    
    .card-info-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7rem;  
    }
    .dashboard-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-top: 1rem;

    }
    
    button{
        border: none;
        background-color: #26C2AE;
        border-radius: 5px;
        width: 281px;
        height: 48px;

    }

    .dashboard-btn h3{
        font-family: 'Space-Reg';
        color: #00474B;
    }
}