
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  @font-face {
    font-family: "Space-Reg";
    src: url(./font/SpaceMono-Regular.ttf);
}
  @font-face {
    font-family: "Space-Bold";
    src: url(./font/SpaceMono-Bold.ttf);
}
  
.tag {
    font-family: 'Space-Reg';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5e7a7d;
    margin-bottom: 6px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    background-color:#C5E4E7 ;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.logo{
    text-align: center;
    margin-top: 8rem;
}

.tip-calculator{
    width: 990px;
    height: 490px;
    background-color: white !important;
    display: flex;
    flex-direction: row;
    padding: 2.3rem;
    margin: 5rem;
    border-radius: 1.5rem 1.5rem ;
}

.first-part{
    margin-top: 1rem;
    margin-left: 1.2rem ;
    display: flex;
    flex-direction: column;
}

label{
    color: hsl(186, 14%, 43%);
    font-family: 700;
    margin-bottom: 0.5rem;
}

input{
    border-color:transparent;
    box-sizing: border-box;
    outline: none !important;
    padding: 5px;
    padding-right: 18px;
    background-position: 14px 15px !important;
    background-repeat: no-repeat !important;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    font-size: 21px !important;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    font-family: "Space mono", monospace !important;
    border-radius: 5px;
    cursor: pointer;
}

.bill-type{
    background-image: url(./images/icon-dollar.svg);
    margin-bottom: 3.6rem;
}

#bill-input{
    margin-bottom: 3.4rem;
}

input:hover{
    border-color: #26C2AE;
}

.tips{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    row-gap: 1.2em;
    column-gap: 18px;
    margin-bottom: 3.4rem;
}

.tip-container{
    background-color: hsl(183, 100%, 15%);
    color: #ffff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
    cursor:  pointer;
}

.tip-container:hover{
    background: #9FE8DF;

}

.active-tip{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    font-weight: bolder !important;
}



.people-input{
    background-image: url(./images/icon-person.svg)  !important;
    margin-bottom: -5rem;
}

.result{
    display: flex !important;
    flex-direction: column;
    align-content: space-between;
    width: 30rem;
    margin-left:auto;
    background-color:hsl(183, 100%, 15%) !important;
    color: #ffff;
    padding: 48px 38px !important;
    border-radius: 12px !important;
}

.tip-amount, .tip-total {
    display: flex  !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: 1.7rem !important;
}

.person{
    font-size: 15px !important;
    color: hsl(184, 14%, 56%)  !important;
    font-weight: 700  !important;
}

.amount{
    font-size: 55px;
    color: hsl(172, 67%, 45%) !important;
    font-weight: 700 !important;
}

.reset{
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    align-items: center !important;
    font-size: 24px !important;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: #0D686D;
    padding: 13px 0 13px 0 !important;
    border-radius: 5px !important;
   
}

.reset:hover{
    cursor: pointer;
    background: #9FE8DF;
}

#tip-custom input{
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
    width: 7.2rem;
    height: 3rem !important;;
}

.people-page{
    display: flex;
    justify-content: space-between;
}

.error-message{
    color: red !important;
}
  
  @media only screen and (max-width: 375px) {
    body{
      background-color: #c5e4e7;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .logo {
      flex: 0.5;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .tip-calculator {
      flex: 0.5;
      /* margin-bottom: -83px; */
      background-color: #fff;
      border-top-left-radius: 1.6rem;
      border-top-right-radius: 1.6rem;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .bill-section,
    .nop-section {
      display: flex;
      flex-direction: column;
    }
  
    .bill-type{
      background-color: #f3f9fa;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 14px;
      /* cursor: pointer; */
    }
    
    .bill-type :hover {
      border: 5px solid #26c2ae;
      
    }
    .bill-type > h2 {
      font-family: 'Space-Bold';
      font-size: 24px;
      font-weight: 700;
      line-height: 35.55px;
  
      color: #00474b;
    }
    .bill-type > p {
      font-family: 'Space-Reg';
      color: #9ebbbd;
      font-size: 24px;
      line-height: 35.55px;
    }
    .select-tip-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  
    .tips {
      display: flex;
      flex-direction: row;
      gap: 17px;
    }
    .tip-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0.5;
      border-radius: 5px;
      color: #fff;
      padding: 7px 0;
      background-color: #00474b;
    }
  
    .tip-container > span {
      font-family: 'Space-Reg';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
    }
    .result {
      width: 100%;
      height: auto;
      padding: 37px 24px;
      border-radius: 15px;
      background-color: #00474b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      gap: 1.5rem;
      /* border-style: none; */
    }
    .card-info-1 {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      /* gap: 2rem; */
    }
    .card-info-1 h4 {
      font-family: "Space-Reg";
      font-size: 1rem;
      font-weight: 700;
      line-height: 24px;
      color: #fff;
    }
    .card-info-1 p {
      font-family: "Space-Reg";
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      color: #7f9d9f;
    }
    .card-info-1 h2 {
      font-family: "Space-Bold";
      font-size: 2rem;
      line-height: 47.39px;
      letter-spacing: 0.67;
      color: #26c2ae;
    }
  
    .reset {
      display: flex;
  
      /* background-color: #26c2ae; */
    }
    button {
      background-color: #26c2ae;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
  
      border-style: none;
      flex: 1;
    }
  
    button h3 {
      font-family: "Space-Reg";
      font-size: 20px;
      font-weight: 700;
      line-height: 29.62px;
  
      color: #00474b;
    }
}  























